/.temp
/.venv
# Игнорировать все папки __pycache__ во всем проекте
**/__pycache__/
# Также полезно игнорировать сами файлы байт-кода, 
# если они вдруг лежат отдельно
*.pyc
*.pyo
*.pyd
# Игнорируем всё содержимое папки migrations
core/migrations/*
# Разрешаем Git видеть файл __init__.py
!core/migrations/__init__.py
# Игнорируем базу данных SQLite
db.sqlite3