{% if feature and feature_cards %}
<div class="row">
    {% for card in feature_cards %}
    <div class="scroll-revealed col-12 sm:col-6 lg:col-4">
      <div class="group hover:-translate-y-1">
        <div
          class="w-[70px] h-[70px] rounded-2xl mb-6 flex items-center justify-center text-[37px]/none bg-primary text-primary-color"
        >
          <i class="lni {{ card.icon_code|slugify }}"></i>
        </div>
        <div class="w-full">
          <h4 class="text-[1.25rem]/tight font-semibold mb-5">
            {{ card.title }}
          </h4>
          {{ card.content|safe }}
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endif %}